/* Estilos generales para el carousel */
.carousel {
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-item {
    display: inline-block;
    width: 100%;
  }
  
  /* Ajustes para diferentes tamaños de pantalla */
  @media (max-width: 768px) {
    .carousel-item {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .carousel-item {
      width: 100%;
    }
  }
  