

.navbar {
    background-color: #01031c ;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5%;
    overflow: visible; 
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1800px;
    padding: 0 20px;
    
   
  }

  .navbar-title {
    font-size: 20px;
    color: aliceblue;
  }
  
  .navbar-logo a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
  }
  
  .nav-menu {
  
    display: flex;
    list-style: none;
    transition: opacity 0.3s ease; /* Suaviza la transición */
  }
  
  .nav-item {
    margin-right: 20px;
    white-space: nowrap;
  }
  
  .nav-links {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .nav-links:hover {
    color: #ffd21f;
  }

  .user-email {
    color: #fff;
    margin-right: 5px;
    padding-right: 7px;
  }
  .navbar-menu.is-active {
    display: block; /* Muestra el menú cuando está activo */
    opacity: 1; /* Asegúrate de que la opacidad sea 1 cuando está activo */
  }
  .navbar-burger.is-active + .navbar-menu {
    display: block; /* Asegura que el menú se muestre cuando el burger está activo */
    opacity: 1; /* Asegura que el menú sea visible */
  }


