/* CategoriesPage.css */
.search-results {
  padding: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap; /* Usar flex-wrap para ajustar las tarjetas */
  gap: 20px; /* Espacio entre las tarjetas */
  justify-content: center; /* Centrar las tarjetas */
}


.h1category-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}
/* Ajustes para diferentes tamaños de pantalla */
@media (min-width: 600px) {
  .product-list {
    justify-content: space-around; /* Distribuir uniformemente las tarjetas */
  }
}

@media (min-width: 900px) {
  .product-list {
    justify-content: flex-start; /* Distribuir desde el inicio en pantallas más grandes */
  }
}

.search-page {
  display: flex;
  margin-left: 1rem;
  margin-top: 0;
  width: 630px;
}
