body {
  font-family: 'Montserrat', sans-serif;
}


/* Testimonials Styles */
#testimonios {

display: flex;
flex-direction: column;
 align-items: center;
  margin-top: 70px;
}

.testimonio-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los testimonios se envuelvan */
  justify-content: space-between; /* Distribuye el espacio entre testimonios */
  width: 80%;
  margin-top: 15px;

}

.titulo {
  color: #f4f4f4;
  font-size: 35px; /* Tamaño de fuente para escritorio */
  font-weight: bold;
  margin-left: 50px; /* Margen izquierdo para escritorio */
}

.testimonio {
  flex: 1 1 30%; /* Permite que cada testimonio ocupe al menos 30% del ancho */
  margin: 10px;
  padding: 15px; /* Reducir padding para que sea más compacto */
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Asegurar que el padding no afecte el ancho */
}

.testimonio-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Espacio entre el encabezado y el contenido */
}

.testimonio-image {
  width: 40px; /* Tamaño más pequeño para imagen */
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.testimonio p {
  color: #000000;
  margin: 5px 0; /* Reducir margen para texto */
}

.testimonio p strong {
  color: #000000;
}

.rating .star {
  font-size: 25px; /* Tamaño de estrella más pequeño */
  color: gold;
  margin-right: 3px;
}

.toggle-button {
  background-color: transparent; /* Botón transparente */
  border: none; /* Sin borde */
  color: #007bff; /* Color azul */
  cursor: pointer; /* Cursor de puntero */
  margin-bottom: 10px; /* Espacio debajo del botón */
  font-size: 14px; /* Tamaño de fuente del botón */
  text-align: left; /* Alinear a la izquierda */
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .testimonio-container {
    flex-direction: row; /* Mantener en fila en móviles */
    justify-content: space-around; /* Espaciado entre testimonios */
  }

  .testimonio {
    flex: 1 1 calc(33.333% - 20px); /* Ajustar para que tres testimonios quepan en la línea */
    max-width: calc(33.333% - 20px); /* Limitar ancho máximo */
    margin: 10px; /* Margen entre testimonios */
  }

  .titulo {
    font-size: 20px; /* Tamaño de fuente reducido para móviles */
    margin-left: 0; /* Eliminar margen izquierdo en móviles */
    text-align: center; /* Centrar título en móviles */
  }

  .testimonio-header {
    justify-content: center; /* Centrar el encabezado en móviles */
  }

  .testimonio-image {
    width: 30px; /* Reducir el tamaño de la imagen en móviles */
    height: 30px;
  }

  .testimonio p {
    font-size: 0.7em; /* Tamaño de fuente reducido para móviles */
  }

  .rating .star {
    font-size: 20px; /* Tamaño de estrella reducido para móviles */
  }

  .toggle-button {
    font-size: 12px; /* Tamaño de fuente del botón en móviles */
  }
}
/*Descrtipcopn*/

.description-section {
  display: flex;
  flex-direction: column;
  justify-content:center ;
 /* margin-top: 70px;*/
  background: linear-gradient(166deg, #00072d, #000626);
  height: 500px;
  text-align: center;
 
  background-color: none;
}

.description-section h3 {
  width: 60%;
  color: #fff;
  margin-bottom: 30px;
  font-size: 40px;
  margin-left: 20%;
}

.description-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.description-column {
  background-color:#00072d;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(247, 251, 5, 0.1);
  padding: 20px;
  flex: 1;
  min-width: 200px;
  max-width: 300px;
  text-align: left;
  border: #ddd;
  border: solid 3px #ffb300;
}

.description-column h4 {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 20px;
}

.description-column h4 strong {
  color: #ffb300;
}

.description-column p {
  color: #fbf8f8;
  line-height: 1.6;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .description-section h3 {
    width: 80%; /* Aumenta el ancho en pantallas más pequeñas */
    margin-left: 10%; /* Centra más el título */
  }

  .description-row {
    justify-content: center; /* Centra las columnas en pantallas pequeñas */
  }

  .description-column {
    min-width: 150px; /* Reduce el ancho mínimo de las columnas */
    max-width: 100%; /* Permite que las columnas ocupen el 100% del ancho disponible */
  }
}

@media (max-width: 480px) {
  .description-section h3 {
    font-size: 18px; /* Ajusta el tamaño de la fuente del título para móviles */
  }

  .description-column h4 {
    font-size: 16px; /* Ajusta el tamaño de la fuente de los encabezados para móviles */
  }

  .description-column p {
    font-size: 12px; /* Ajusta el tamaño de la fuente del párrafo para móviles */
  }
}

/* info section */

/* Estilos generales */
.info-section {
  height: 600px;
  background: linear-gradient(135deg, #fbee64, #f7c32e);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 20px;
  flex-wrap: wrap; /* Permite que los elementos se acomoden en varias filas */
}

/* Rectángulos grandes en pantallas grandes */

.info-rectangle2 {
  align-items: center;
  display: flex;
  width: 500px;
  
 /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

/* Estilos de contenido */
.info-rectangle {
 /* background: linear-gradient(135deg, #fbee64, #f7c32e);*/
display: flex;
flex-direction: column;
height: 450px;
width: 550px;
 

}

.info-rectangle h2 {
  color: #000000;
  font-size: 4.1rem;


  text-align: left;
  line-height: 1.2;
}

.info-rectangle2 img{
  display: flex;
  border-radius: 70px;
  width: 450px;
  box-shadow: 8px 8px 40px #000000; 
  
}


.info-rectangle p {
  
  color: #000000;
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: left;
  flex-grow: 1;
  margin-top: 10px;
  align-content: center;
}

.info-rectangle2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
 
} 



.info-button {
  color: #ffffff;
  background-color: #000000;
  
 padding: 18px; /* Reduce padding para pantallas pequeñas */
 /*width: 80%; /* Ocupa el 100% del ancho disponible del contenedor */
 width: 280px;
  font-size: 18px; /* Ajuste de fuente para pantallas más pequeñas */
  display: flex;
 margin-top: 10px;
  justify-content: center;
 
  gap: 20px;
  margin-bottom: 10px;
 
}

.info-button:hover {
 
  color: #ead601;

  box-shadow: 0px 0px 10px #000000; 
}

/* Estilos responsivos */
@media (max-width: 1200px) {
  /* Ajustes para pantallas medianas */
  .info-rectangle,
  .info-rectangle2 {
    width: 45%; /* Más estrecho en pantallas medianas */
    height: auto;
    padding: 15px;
  }

  .info-rectangle h2 {
   
    font-size: 3rem;
  }

  .info-rectangle p,
  .info-rectangle2 p {
    
    font-size: 1.2rem;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  /* Ajustes para pantallas pequeñas */
  .info-section {
    flex-direction: column; /* Cambia a columna para apilar los rectángulos */
    align-items: center;
  }

  .info-rectangle,
  .info-rectangle2 {
    width: 80%; /* Ocupan un ancho mayor en pantallas pequeñas */
    margin-bottom: 20px;
  }

  .info-rectangle h2 {
    font-size: 2.5rem;
  }

  .info-rectangle p,
  .info-rectangle2 p {
    font-size: 1rem;
  }

  .info-button {
    width: 80%; /* Botón más ancho en pantallas pequeñas */
    padding: 15px;
    font-size: 16px;
  }


}


/* jobs */
.jobs-main-container {

  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  height: 600px; /* Mantener altura fija para escritorio */
}

.jobs-section {

  margin-top: 80px;
  padding: 40px;
  text-align: center;
  background-color: #ffffff;
  height: 300px; /* Mantener altura fija para escritorio */
  width: 100%;
}

.jobs-section h1 {

  color: #000000;
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.jobs-section p {
  color: #000000;
  font-size: 1.2rem;
  margin-bottom: 20px;
  width: 52%;
  margin-left: 24%;
}

.jobs-links {
  
  display: flex; 
  justify-content: space-around;
  gap: 20px;
}

.jobs-rectangle {
  display: flex;
  margin-top: 30px;
  width: 600px; /* Mantener ancho fijo para escritorio */
  height: 200px; /* Mantener altura fija para escritorio */
  padding: 0px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.jobs-rectangle a {
  text-decoration: none;
  color: #000000;
  font-size: 2rem;
  text-align: center;
  width: 50%;
  padding: 40px;
  font-weight: bold;
}

.image-container {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .jobs-main-container {
    height: auto; /* Permitir que el contenedor ajuste su altura en móviles */
    padding: 10px; /* Espaciado reducido */
  }

  .jobs-section {
    padding: 20px; /* Espaciado reducido */
    height: auto; /* Permitir que la altura ajuste según el contenido */
  }

  .jobs-section h1 {
    font-size: 1.5rem; /* Tamaño de fuente reducido para móviles */
  }

  .jobs-section p {
    font-size: 0.8rem; /* Tamaño de fuente reducido para móviles */
    margin-bottom: 15px; /* Espaciado reducido */
    width: 90%; /* Ancho ajustado para móviles */
    margin-left: 5%; /* Centrar el párrafo */
  }

  .jobs-links {
    flex-direction: column; /* Cambiar a columna en móviles */
    align-items: center; /* Centrar los elementos */
    gap: 10px; /* Espaciado reducido */
  }

  .jobs-rectangle {
    width: 90%; /* Ancho ajustado para móviles */
    height: 100px; /* Altura ajustada para móviles */
    margin-top: 10px; /* Espaciado reducido */
  }

  .jobs-rectangle a {
    font-size: 1rem; /* Tamaño de fuente reducido para móviles */
    padding: 10px; /* Espaciado ajustado */
  }

  .image-container {
    width: 100%; /* Ancho completo para móviles */
    height: 70%; /* Ajustar altura para móviles */
  }

  .image-container img {
    width: 100%; /* Ajustar la imagen para que ocupe todo el contenedor */
    height: 100%; /* Ajustar la altura de la imagen */
    object-fit: cover; /* Asegurar que la imagen cubra el contenedor sin distorsión */
  }
}
/* Suscription */
.subscription-container {

  background-color: #00072d;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 70px;
  align-items: center;
  gap: 5%;
  padding: 20px;
}

.subscription-text {
  display: flex;
  flex-direction: column;
  width: 500px;

  max-width: 50%; /* Mantener el ancho máximo para escritorio */
  text-align: left;
}

.subscription-text h2 {
  font-size: 35px; /* Mantener tamaño de fuente para escritorio */
  margin-bottom: 10px;
  color: #ddd;
  width: 100%;
}

.subscribe-button {
  justify-content: center;
  display: flex;
  width: 35%;
  padding: 10px 20px;
  color: #f7c32e;
  border: solid#f7c32e;
  cursor: pointer;
  font-size: 1em;
  margin: 10px;
}

.subscribe-button:hover {
  border: solid#f5e63e;
  background-color: #f5e63e;
  color: rgb(0, 0, 0);
}

.subscription-image {
  display: flex;
  
  background-color: #f7c32e;
  border-radius: 5%;
  width: 540px; /* Mantener ancho para escritorio */
  height: 500px; /* Mantener altura para escritorio */
  padding: 15px;
}

.subscription-image img {
  width: 100%;
  height: auto;
  border-radius: 5%;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .subscription-container {
    flex-direction: column; /* Cambiar a columna en móviles */
    align-items: center; /* Centrar elementos en móviles */
    padding: 10px; /* Espaciado reducido */
  }

  .subscription-text {
    max-width: 90%; /* Ancho máximo ajustado para móviles */
    text-align: center; /* Centrar texto en móviles */
    margin-bottom: 20px; /* Espaciado inferior */
  }

  .subscription-text h2 {
    font-size: 1.5em; /* Tamaño de fuente reducido para móviles */
    margin-bottom: 10px; /* Espaciado ajustado */
  }

  .subscription-image {
    width: 90%; /* Ancho ajustado para móviles */
    height: auto; /* Permitir ajuste automático de altura en móviles */
    margin-bottom: 20px; /* Espaciado inferior */
  }

  .subscribe-button {
    padding: 8px 16px; /* Espaciado ajustado */
    font-size: 0.9em; /* Tamaño de fuente reducido para móviles */
  }
}

/* Trust Section Styles */
.trust-section {
  text-align: center;
  padding: 30px 20px;
  background-color: white; /* Fondo claro */
  margin-top: 60px;
}

.trust-section h1 {
  font-size: 1.5rem; /* Tamaño de fuente */
  margin-bottom: 20px;
  color: #000000; /* Color del texto */
}

.logos-row {
  display: flex;
  justify-content: space-around; /* Espaciado entre logos */
  align-items: center;
  flex-wrap: wrap; /* Para que se ajusten en pantallas pequeñas */
  gap: 20px; /* Espacio entre los logos */
}

.company-logo {
  max-width: 350px; /* Ancho máximo */
  max-height: 175px; /* Alto máximo */
  object-fit: contain; /* Asegura que la imagen mantenga su proporción */
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .trust-section {
    padding: 20px 10px; /* Reducir el padding */
  }

  .trust-section h1 {
    font-size: 1.2rem; /* Tamaño de fuente más pequeño */
  }

  .logos-row {
    justify-content: center; /* Centrar los logos */
  }

  .company-logo {
    max-width: 200px; /* Ancho máximo más pequeño */
    max-height: 100px; /* Alto máximo más pequeño */
  }
}

@media (max-width: 480px) {
  .trust-section {
    padding: 15px 5px; /* Más reducido en pantallas muy pequeñas */
  }

  .trust-section h1 {
    font-size: 1rem; /* Tamaño de fuente aún más pequeño */
  }

  .company-logo {
    max-width: 150px; /* Ancho máximo aún más pequeño */
    max-height: 75px; /* Alto máximo aún más pequeño */
  }
}


/* payment */

.payment-methods {
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.payment-methods h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.payment-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.payment-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-icon img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.payment-icon span {
  font-size: 14px;
  color: #333;
}

.payment-methods p {
  font-size: 16px;
  color: #666;
  margin-top: 20px;
}


