body {
  font-family: 'Montserrat', sans-serif;
}


/* Testimonials Styles */
#testimonios {
  margin-top: 90px;
}

.testimonio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 94%;
  margin-left: 3%;
  margin-top: 15px;
}

.titulo {
  color: #f4f4f4;
  font-size: 35px; /* Mantener tamaño de fuente para escritorio */
  font-weight: bold;
  margin-left: 50px; /* Margen izquierdo para escritorio */
}

.testimonio {
  flex: 1;
  min-width: 500px; /* Mantener ancho mínimo para escritorio */
  margin: 10px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
}

.testimonio-header {
  display: flex;
  align-items: center;
}

.testimonio-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.testimonio p {
  color: #000000;
  margin: 10px 0;
}

.testimonio p strong {
  color: #000000;
}

.rating .star {
  font-size: 30px;
  color: gold;
  margin-right: 5px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .testimonio-container {
    flex-direction: column; /* Cambiar a columna en móviles */
    align-items: center; /* Centrar elementos en móviles */
    width: 100%; /* Ampliar contenedor a 100% en móviles */
  }

  .titulo {
    font-size: 24px; /* Tamaño de fuente reducido para móviles */
    margin-left: 0; /* Eliminar margen izquierdo en móviles */
    text-align: center; /* Centrar título en móviles */
  }

  .testimonio {
    min-width: 90%; /* Ajustar el ancho mínimo para móviles */
    margin: 10px 0; /* Espaciado vertical entre testimonios */
  }

  .testimonio-header {
    justify-content: center; /* Centrar el encabezado en móviles */
  }

  .testimonio-image {
    width: 40px; /* Reducir el tamaño de la imagen en móviles */
    height: 40px;
  }

  .testimonio p {
    font-size: 0.9em; /* Tamaño de fuente reducido para móviles */
  }

  .rating .star {
    font-size: 25px; /* Tamaño de estrella reducido para móviles */
  }
}

/*Descrtipcopn*/

.description-section {
  text-align: center;
  padding: 40px 20px;
  background-color: none;
}

.description-section h3 {
  width: 60%;
  color: #fff;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  margin-left: 20%;
}

.description-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.description-column {
  background-color: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1;
  min-width: 200px;
  max-width: 300px;
  text-align: left;
  border: #ddd;
  border: solid 3px;
}

.description-column h4 {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 20px;
}

.description-column h4 strong {
  color: #ffb300;
}

.description-column p {
  color: #fbf8f8;
  line-height: 1.6;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .description-section h3 {
    width: 80%; /* Aumenta el ancho en pantallas más pequeñas */
    margin-left: 10%; /* Centra más el título */
  }

  .description-row {
    justify-content: center; /* Centra las columnas en pantallas pequeñas */
  }

  .description-column {
    min-width: 150px; /* Reduce el ancho mínimo de las columnas */
    max-width: 100%; /* Permite que las columnas ocupen el 100% del ancho disponible */
  }
}

@media (max-width: 480px) {
  .description-section h3 {
    font-size: 18px; /* Ajusta el tamaño de la fuente del título para móviles */
  }

  .description-column h4 {
    font-size: 16px; /* Ajusta el tamaño de la fuente de los encabezados para móviles */
  }

  .description-column p {
    font-size: 12px; /* Ajusta el tamaño de la fuente del párrafo para móviles */
  }
}

/* info section */

.info-section {
  background-color: #2c2d44;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin-top: 70px;
}

.info-rectangle {
  height: 600px;
  width: 45%;
  background: linear-gradient(135deg, #f8e624, #f7c32e);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative; /* Para posicionar elementos dentro del contenedor */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-rectangle::before {
  content: url('path/to/icon.svg'); /* Icono relevante */
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px; /* Ajusta el tamaño del icono según sea necesario */
  height: 50px;
}

.info-rectangle h2 { 
  color: #000000;
  margin-bottom: 0px;
  font-size: 4rem;
  font-weight: bold;
  text-align: left;
  margin-top: 30px;
  line-height: 1.2; /* Ajusta el interlineado */
}

.info-rectangle p {
  color: #000000;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 30px;
  margin-right: 80px;
  text-align: left;
  flex-grow: 1;
}

.info-rectangle2 {
  height: 600px;
  width: 45%;
  background-color:  #fefefe;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
}

.info-rectangle2 img {
  
 width: 70%;
}

.info-rectangle2 p {
 font-size: 50px;
 color: #999999;
 font-weight: bold;
 
 
 }

.info-rectangle2::before {
  content: url('path/to/another-icon.svg'); /* Otro icono relevante */
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px; /* Ajusta el tamaño del icono según sea necesario */
  height: 50px;
}

.info-button {
  color: #000000;
  background-color: none;
  border: solid black;
  padding: 25px;
  width: 60%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto 0 auto; /* Centra el botón horizontalmente y ajusta el margen superior */
}

.info-button svg {
  margin-right: 10px; /* Espacio entre el icono y el texto */
}

.info-button:hover {
  color: #f8e624;
  background-color: black;
}

/* jobs */
.jobs-main-container {
  display: flex;
  flex-wrap: wrap;
  height: 600px; /* Mantener altura fija para escritorio */
}

.jobs-section {
  margin-top: 80px;
  padding: 40px;
  text-align: center;
  background-color: #ffffff;
  height: 300px; /* Mantener altura fija para escritorio */
}

.jobs-section h1 {
  color: #000000;
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.jobs-section p {
  color: #000000;
  font-size: 1.2rem;
  margin-bottom: 20px;
  width: 52%;
  margin-left: 24%;
}

.jobs-links {
  display: flex; 
  justify-content: space-around;
  gap: 20px;
}

.jobs-rectangle {
  display: flex;
  margin-top: 30px;
  width: 600px; /* Mantener ancho fijo para escritorio */
  height: 200px; /* Mantener altura fija para escritorio */
  padding: 0px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.jobs-rectangle a {
  text-decoration: none;
  color: #000000;
  font-size: 2rem;
  text-align: center;
  width: 50%;
  padding: 40px;
  font-weight: bold;
}

.image-container {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .jobs-main-container {
    height: auto; /* Permitir que el contenedor ajuste su altura en móviles */
    padding: 10px; /* Espaciado reducido */
  }

  .jobs-section {
    padding: 20px; /* Espaciado reducido */
    height: auto; /* Permitir que la altura ajuste según el contenido */
  }

  .jobs-section h1 {
    font-size: 1.5rem; /* Tamaño de fuente reducido para móviles */
  }

  .jobs-section p {
    font-size: 0.8rem; /* Tamaño de fuente reducido para móviles */
    margin-bottom: 15px; /* Espaciado reducido */
    width: 90%; /* Ancho ajustado para móviles */
    margin-left: 5%; /* Centrar el párrafo */
  }

  .jobs-links {
    flex-direction: column; /* Cambiar a columna en móviles */
    align-items: center; /* Centrar los elementos */
    gap: 10px; /* Espaciado reducido */
  }

  .jobs-rectangle {
    width: 90%; /* Ancho ajustado para móviles */
    height: 100px; /* Altura ajustada para móviles */
    margin-top: 10px; /* Espaciado reducido */
  }

  .jobs-rectangle a {
    font-size: 1rem; /* Tamaño de fuente reducido para móviles */
    padding: 10px; /* Espaciado ajustado */
  }

  .image-container {
    width: 100%; /* Ancho completo para móviles */
    height: 70%; /* Ajustar altura para móviles */
  }

  .image-container img {
    width: 100%; /* Ajustar la imagen para que ocupe todo el contenedor */
    height: 100%; /* Ajustar la altura de la imagen */
    object-fit: cover; /* Asegurar que la imagen cubra el contenedor sin distorsión */
  }
}
/* Suscription */
.subscription-container {
  background-color: #2c2d44;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.subscription-text {
  max-width: 50%; /* Mantener el ancho máximo para escritorio */
  text-align: left;
}

.subscription-text h2 {
  font-size: 35px; /* Mantener tamaño de fuente para escritorio */
  margin-bottom: 10px;
  color: #ddd;
  width: 100%;
}

.subscribe-button {
  padding: 10px 20px;
  color: #f8e624;
  border: solid #f8e624;
  cursor: pointer;
  font-size: 1em;
}

.subscribe-button:hover {
  background-color: #f8e624;
  color: rgb(0, 0, 0);
}

.subscription-image {
  background-color: #f8e624;
  border-radius: 5%;
  width: 600px; /* Mantener ancho para escritorio */
  height: 600px; /* Mantener altura para escritorio */
  padding: 15px;
}

.subscription-image img {
  width: 100%;
  height: auto;
  border-radius: 5%;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .subscription-container {
    flex-direction: column; /* Cambiar a columna en móviles */
    align-items: center; /* Centrar elementos en móviles */
    padding: 10px; /* Espaciado reducido */
  }

  .subscription-text {
    max-width: 90%; /* Ancho máximo ajustado para móviles */
    text-align: center; /* Centrar texto en móviles */
    margin-bottom: 20px; /* Espaciado inferior */
  }

  .subscription-text h2 {
    font-size: 1.5em; /* Tamaño de fuente reducido para móviles */
    margin-bottom: 10px; /* Espaciado ajustado */
  }

  .subscription-image {
    width: 90%; /* Ancho ajustado para móviles */
    height: auto; /* Permitir ajuste automático de altura en móviles */
    margin-bottom: 20px; /* Espaciado inferior */
  }

  .subscribe-button {
    padding: 8px 16px; /* Espaciado ajustado */
    font-size: 0.9em; /* Tamaño de fuente reducido para móviles */
  }
}

/* Trust Section Styles */
.trust-section {
  text-align: center;
  padding: 30px 20px;
  background-color: #f8f9fa; /* Fondo claro */
  margin-top: 60px;
}

.trust-section h1 {
  font-size: 1.5rem; /* Tamaño de fuente */
  margin-bottom: 20px;
  color: #000000; /* Color del texto */
}

.logos-row {
  display: flex;
  justify-content: space-around; /* Espaciado entre logos */
  align-items: center;
  flex-wrap: wrap; /* Para que se ajusten en pantallas pequeñas */
  gap: 20px; /* Espacio entre los logos */
}

.company-logo {
  max-width: 350px; /* Ancho máximo */
  max-height: 175px; /* Alto máximo */
  object-fit: contain; /* Asegura que la imagen mantenga su proporción */
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .trust-section {
    padding: 20px 10px; /* Reducir el padding */
  }

  .trust-section h1 {
    font-size: 1.2rem; /* Tamaño de fuente más pequeño */
  }

  .logos-row {
    justify-content: center; /* Centrar los logos */
  }

  .company-logo {
    max-width: 200px; /* Ancho máximo más pequeño */
    max-height: 100px; /* Alto máximo más pequeño */
  }
}

@media (max-width: 480px) {
  .trust-section {
    padding: 15px 5px; /* Más reducido en pantallas muy pequeñas */
  }

  .trust-section h1 {
    font-size: 1rem; /* Tamaño de fuente aún más pequeño */
  }

  .company-logo {
    max-width: 150px; /* Ancho máximo aún más pequeño */
    max-height: 75px; /* Alto máximo aún más pequeño */
  }
}


/* payment */

.payment-methods {
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.payment-methods h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.payment-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.payment-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-icon img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.payment-icon span {
  font-size: 14px;
  color: #333;
}

.payment-methods p {
  font-size: 16px;
  color: #666;
  margin-top: 20px;
}


