/* Contenedor principal */
.landingpage-container {
  /*border-top: solid rgb(250, 242, 242) 1px;*/
  border-bottom: solid rgb(250, 242, 242) 1px;
  display: flex;
  flex-direction: row; /* Layout horizontal */
  align-items: center; /* Centra verticalmente */
  justify-content: space-between; /* Espacio dinámico entre elementos */
  padding: 2%; /* Espaciado proporcional */
  box-sizing: border-box;
  position: relative;
  height: 70vh; /* Altura dinámica */
  gap: 3%; /* Espaciado dinámico */
  overflow: hidden;
}

/* Texto dentro del contenedor */
.landingpage-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  z-index: 1;
  min-width: 300px; /* Asegura que no se reduzca demasiado en pantallas pequeñas */
}

/* Imagen de fondo */
.background-img {
  flex: 1;
  border-radius: 50px;
  width: 100%; /* Ajusta el ancho */
  max-width: 1100px; /* Limita el ancho en pantallas grandes */
  height: auto;
  object-fit: cover;
  z-index: 0;
}

/* Estilo para el título */
.landingpage-text h1 strong {
  color: #ffb300;
  font-weight: bold;
  font-size: 5vw; /* Tamaño proporcional */
  line-height: 1.2;
}

/* Estilo para el párrafo */
.landingpage-text p {
  color: rgb(222, 235, 246);
  font-size: 2.5vw; /* Tamaño proporcional */
  font-weight: bold;
  margin-top: 1rem;
}

/* Media query para pantallas medianas (1280px o menos) */
@media (max-width: 1280px) {
  .landingpage-container {
    flex-direction: column;
    height: auto;
    gap: 20px;
    padding: 5%;
  }

  .background-img {
    max-width: 80%; /* Reduces the image size */
    margin: 0 auto;
  }

  .landingpage-text {
    width: 90%;
    text-align: center;
  }

  .landingpage-text h1 strong {
    font-size: 6vw;
  }

  .landingpage-text p {
    font-size: 3.5vw;
  }
}

/* Media query para pantallas más pequeñas (768px o menos) */
@media (max-width: 768px) {
  .landingpage-container {
    gap: 10px;
  }

  .background-img {
    max-width: 100%;
  }

  .landingpage-text h1 strong {
    font-size: 8vw; /* Menor tamaño de fuente */
  }

  .landingpage-text p {
    font-size: 5vw;
  }
}
