.app-container {
    display: flex;
    align-items: center;
    background-image: url('../Background/wallpaper2.jpg'); /* Ruta a tu imagen */
    background-size: 1000px auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh; /* Resta la altura de la navbar */
    width: 100vw;
  }


  .login-container {
    background-color: rgba(255, 255, 255, 0.8); 
    width: 400px; /* Asegúrate de incluir 'px' para el ancho */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #000; /* Color del texto en el contenedor de login */
}
.login-h2{

  justify-content: center;
  display: flex;
  color: #000;
  font-weight: bold;
  margin-bottom: 20px;
}

  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
 
  }
  
  label {
    font-weight:bold;
    margin-bottom: 5px;
  }
  
  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;

  }
  
  .login-btn {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background-color: #45a049;
  }
  .form-group label {
    width: 150px; /* Ajusta el ancho según tus necesidades */
    margin-right: 10px;
  }