.search-results {
  border: solid red;
  padding: 20px;
}

.search-bar-container{
  display: flex;

  justify-content: center; /* Centrar las tarjetas */
  padding: 50px;


}

.product-list {
  display: flex;
  flex-wrap: wrap; /* Usar flex-wrap para ajustar las tarjetas */
  gap: 20px; /* Espacio entre las tarjetas */
  justify-content: center; /* Centrar las tarjetas */
}

/* Ajustes para diferentes tamaños de pantalla */
@media (min-width: 600px) {
  .product-list {
    justify-content: space-around; /* Distribuir uniformemente las tarjetas */
  }
}

@media (min-width: 900px) {
  .product-list {
    justify-content: flex-start; /* Distribuir desde el inicio en pantallas más grandes */
  }
}

.search-page{

display: flex;
justify-content: center;

}

.search-page input {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 16px;
  font-size: 16px;
  border: 0px solid #ccc;
  border-radius: 4px;
  width: 500px;
}

.search-page button {
  margin: 5px;
  padding: 10px 16px;
  font-size: 16px;
  background-color: #ffb300;
  color: #242424;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-page button:hover {
  background-color: #ffdd00;
}
