.my-courses-container {
  max-width: 100%; /* Usar 100% para adaptarse al contenedor */
  margin: 0 auto; /* Centrar el contenedor */
  padding: 20px; /* Espaciado alrededor */

}

.courses-grid {
  display: flex;
  flex-wrap: wrap; /* Permitir que las tarjetas se envuelvan*/
  gap: 20px; /* Espacio entre tarjetas */
  
}

.profesor-course-card {
  box-sizing: border-box;
  flex: 0 1 calc(33.33% - 20px); /* 3 tarjetas por fila en pantallas grandes */
  max-width: 367px; /* Limitar el tamaño máximo */
  border: 1px solid #ddd; /* Opcional, para visualización */
  border-radius: 8px; /* Esquinas redondeadas */
  overflow: hidden; /* Asegurar que no sobresalgan elementos */
  background-color: #fff; /* Fondo blanco */
  transition: transform 0.3s ease; /* Efecto suave al pasar el mouse */
}

.profesor-course-card:hover {
  transform: translateY(-5px); /* Levantar la tarjeta ligeramente */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra al pasar el mouse */
}



@media (max-width: 576px) {
  .profesor-course-card {
    flex: 0 1 calc(100% - 20px); /* Una tarjeta por fila en pantallas pequeñas */
  }
}



/* Botones dentro de las tarjetas */
.course-buttons {
  display: flex;
  justify-content: space-between; /* Botones separados */
  gap: 10px; /* Espacio entre los botones */
  margin-top: 10px;
}

.btn-update,
.btn-delete {
  flex: 1;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.btn-update {
  background-color: #28a745;
}

.btn-update:hover {
  background-color: #218838;
  transform: scale(1.05); /* Ligeramente más grande */
}

.btn-delete {
  background-color: #dc3545;
}

.btn-delete:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

/* Mensaje cuando no hay cursos */
.no-courses-message {
  font-size: 1.5rem;
  font-weight: bold;
  color: #555;
  text-align: center;
  margin-top: 50px;
}

/* Imágenes dentro de las tarjetas */

