.footer-app {
  
  background-color: #ffffff;
  color: rgb(34, 34, 34);
  padding: 2rem 0;
  text-align: center;
  height: 240px;
}

.footer-container {
  max-width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
} 

.footer-left {
  flex: 1;
  text-align: left;
}

.footer-left h3 {
  margin-bottom: 1rem;
}

.footer-left p {
  margin-bottom: 1rem;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons a {
  color: rgb(34, 34, 34);
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ddd;
}

.footer-right {
  flex: 1;
  text-align: right;
}

.footer-link-container {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.footer-link {
  color: rgb(34, 34, 34);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-link:hover {
  color: #ddd;
}

.footer-text {
  margin-top: 1rem;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column; /* Cambia a columna para móviles */
    align-items: center; /* Centra los elementos en móviles */
    text-align: center; /* Centra el texto en móviles */
  }

  .footer-left {
    text-align: center; /* Centra el texto en móviles */
    margin-bottom: 1rem; /* Espaciado inferior */
  }

  .footer-right {
    text-align: center; /* Centra el texto en móviles */
    margin-bottom: 1rem; /* Espaciado inferior */
  }

  .footer-link-container {
    flex-direction: column; /* Cambia a columna para enlaces en móviles */
    gap: 0.5rem; /* Espaciado entre enlaces */
    justify-content: center; /* Centra los enlaces */
  }

  .footer-link {
    font-size: 0.9rem; /* Reduce el tamaño de la fuente en móviles */
  }

  .social-icons {
    justify-content: center; /* Centra los íconos sociales en móviles */
    margin-top: 1rem; /* Espaciado superior */
  }

  .social-icons a {
    font-size: 1.2rem; /* Ajusta el tamaño de los íconos en móviles */
  }
}
